<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator
        type="VanLanschot.Feature.VolleyGroup.IoC.RegisterDependencies, VanLanschot.Feature.VolleyGroup" />
    </services>
    <xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <schema name="ContactCustomModel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration">
            <param desc="modeltype">VanLanschot.Feature.VolleyGroup.XConnect.ContactCustomModel,VanLanschot.Feature.VolleyGroup</param>
          </schema>
        </schemas>
      </runtime>
    </xconnect>
  </sitecore>
</configuration>